.time-block-container {
  display: flex;
  flex-direction: column;
}

.time-zone {
  display: flex;
  border-bottom: 1px solid #ddd;

  height: 40px;
  width: 100%;
}

.time-number {
  width: 80px;
  text-align: right;
  padding-right: 16px;
  font-size: 14px;
  color: #666;
}

.time-axis {
  background-color: #f5f5f5;
  display: flex;

  align-items: center;
  padding-left: 10px;
}

.time-axis > div {
  color: #aaa;
  flex-grow: 1;
  height: 100%;
  background-color: #f9f9f9;
  border-left: 1px solid #ddd;
}
